# managed directories that are checked out by the externals tool
cime/.github
cime/doc
cime/scripts
cime/config
cime/tools
cime/utils
cime/src/build_scripts
cime/src/CMake
cime/src/components
cime/src/externals
cime/src/drivers/mct/cime_config
cime/src/drivers/mct/unit_test
cime/src/share/include
cime/src/share/RandNum
cime/src/share/streams
cime/src/share/test
cime/src/share/timing
cime/src/share/unit_test_stubs
cime/src/share/util

components/cism
components/clm
components/mosart
components/pop
components/rtm
components/ww3

components/cam/bld
components/cam/chem_proc
components/cam/cime_config
components/cam/doc
components/cam/test
components/cam/tools
components/cam/src/dynamics/eul

components/cice/bld
components/cice/cime_config
components/cice/docs

*.svn-base
*.xml
*.inp
*.f
*.mod
*.in
*.ncl
*.PP
*.db*
*.h
*.doc
*.c

# generated local files
*.log

# editor files
*~
*.bak

# generated python files
*.pyc

# ignore for the merge to master and orphaning of the gh-pages branch
doc/build
